@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 218 66% 6%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --secondary: 227 43% 96%;
  --primary: 25 100% 50%;
  --border: 20 5.9% 90%;
  --destructive: 0 84.2% 60.2%;
}
.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 99%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --secondary: 0 0% 9%;
  --border: 0 0% 13%;
  --destructive: 0 62.8% 30.6%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground text-sm font-sans;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-foreground font-medium leading-tight tracking-tight font-serif;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-5xl px-1;
  }
}
