@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 218 66% 6%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --secondary: 227 43% 96%;
  --primary: 320 100% 91%;
  --border: 20 5.9% 90%;
  --destructive: 0 84.2% 60.2%;
}
.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 99%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --secondary: 0 0% 9%;
  --border: 0 0% 13%;
  --destructive: 0 62.8% 30.6%;
  --primary: 151 49 14%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground text-sm font-sans;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-foreground font-medium leading-tight tracking-tight font-serif;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-5xl px-1;
  }
}

.fade-mask {
  position: relative;
  overflow: hidden;
}

.fade-mask::before,
.fade-mask::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Adjust width for stronger fading */
  pointer-events: none;
  z-index: 10;
}

.fade-mask::before {
  left: 0;
  background: linear-gradient(
    to right,
    hsl(var(--background)),
    rgba(255, 255, 255, 0)
  );
}

.fade-mask::after {
  right: 0;
  background: linear-gradient(
    to left,
    hsl(var(--background)),
    rgba(255, 255, 255, 0)
  );
}

.input {
  @apply border p-3 text-muted-foreground placeholder:text-muted-foreground rounded-lg focus-within:border-primary/50 duration-300 transition-all outline-none w-full;
}

.submit-btn {
  @apply bg-foreground px-4 py-2 text-background rounded-lg hover:bg-muted-foreground duration-300 ease-in-out transition-all mt-6 focus-within:ring-1 focus-within:ring-primary focus-within:ring-offset-2 focus-within:ring-offset-background;
}

.status-message {
  @apply text-sm text-muted-foreground p-3 rounded-lg mt-3 border bg-secondary;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
